@{
    ViewBag.Title = "Series";
}
<environment names="Development">
    @section Styles{
        <link rel="stylesheet" href="~/css/home.css"  asp-append-version="true"/>
    } 
</environment>

<environment names="Staging,Production">
    @section Styles{
        <link rel="stylesheet" href="~/css/home.min.css"  asp-append-version="true"/>
    }
</environment>
<div class="row">
    <div class="col-md-9">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3 ">
        <aside class="box">
            <header class="box-title">
                Trending
            </header>
            <div class="box-content">
                <ul>
                    <li>costam1</li>
                    <li>costam1</li>
                    <li>costam1</li>
                    <li>costam1</li>
                    <li>costam1</li>
                    <li>costam1</li>
                </ul>
            </div>
        </aside>
    </div>
</div>