@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<asp:z ID="Content1" ContentPlaceHolderID="head" runat="server">
    @Styles.Render("~/Content/custom.css")
</asp:z>
<div id="root">

</div>
@Scripts.Render("~/Scripts/custom/series-bundle.js")
 